//@import "normalize";
@import "impress";

.background-radial(@colourinner, @colourouter) {
	background-color: mix(@colourinner, @colourouter);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(@colourinner), to(@colourouter));
	background:	 -webkit-radial-gradient(@colourinner, @colourouter);
	background:		-moz-radial-gradient(@colourinner, @colourouter);
	background:		 -ms-radial-gradient(@colourinner, @colourouter);
	background:		  -o-radial-gradient(@colourinner, @colourouter);
	background:			 radial-gradient(@colourinner, @colourouter);
}

body {
	font-family: 'PT Sans', sans-serif;
	min-height: 740px;
	color: #222;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	line-height: normal;

	.background-radial(#f0f0f0, #bebebe);
}

h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1em;
}
p,ul,li {
	font-size: 0.8em;
	line-height: normal;
}
ol, ul {
	ol {
		margin: 0.3em 0;
	}
	ul {
		margin: 0;
	}
}
li {
	padding-bottom: 0.5em;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0 0.1em;
	background: rgba(255,255,255,0.5);
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	border-radius: 0.2em;

	-webkit-transition: 0.5s;
	-moz-transition:	0.5s;
	-ms-transition:	 0.5s;
	-o-transition:		0.5s;
	transition:		 0.5s;
	
	&:hover,
	&:focus {
		background: rgba(255,255,255,1);
		text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	}
}

.centre {
	text-align: center;
}

.reference {
	width: 0;
	a {
		position: relative;
		top: 20px;
		left: -20px;
		font-size: 0.5em;
	}
}





/*
	Boring Style Slide
*/
.slide {
	display: block;

	width: 900px;
	height: 700px;
	padding: 40px 60px;

	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

	color: rgb(102, 102, 102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1px;
}


/*
	Introduction Slides
	Written by Everyone
	Styles by James Reuss
*/

#title {
	
	text-align: center;
	
	h1 {
		padding: 0 0 80px;
	}
	ul {
		list-style: none;
		padding-left: 0;
		line-height: 1.5em;
		
		li {
			padding-bottom: 0;
		}
	}
}

#contents {
	display: block;
	
	width: 600px;
	height: 700px;
	padding: 40px 110px;
	
	background-color: #FBF6F4;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	
	h1 {
		text-align: center;
	}
	li {
		padding-bottom: 0;
	}
	
	a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px #f11 solid;
		
		padding: 0;
		background: none;
		text-shadow: none;
		border-radius: 0;
	
		-webkit-transition: 0.5s;
		-moz-transition:	0.5s;
		-ms-transition:	 0.5s;
		-o-transition:		0.5s;
		transition:		 0.5s;
	
		&:hover,
		&:focus {
			text-shadow: 0px 1px 2px rgba(100,100,100,0.5);
		}
	}
}


/*
	Object Detection Slides
	Written by James Reuss
	Styles by James Reuss
*/

#displacement {
	display: block;
	clear: both;
	
	p {
		padding-top: 600px;
	}
	
	#img1 {
		float: left;
		background-image: url('../img/horizarm.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 45%;
		min-height: 400px;
	}
	#img2 {
		float: right;
		background-image: url('../img/vertarm.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 45%;
		min-height: 400px;
	}
}

#electronic {
	text-align: center;
}

#arduino {
	display: block;
	clear: both;
	//width: 1100px;
	
	#img {
		float: left;
		background-image: url('../img/arduino.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 45%;
		min-height: 400px;
	}
	
	#text {
		padding-left: 50%;
		p, li {
			font-size: 0.7em;
		}
	}
	
	a {
		font-size: 0.5em;
	}
}

#pseye {
	display: block;
	clear: both;
	//width: 1100px;

	#img {
		float: right;
		background-image: url('../img/pseye.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 45%;
		min-height: 400px;
	}

	#text {
		float: left;
		width: 50%;
		p, li {
			font-size: 0.7em;
		}
	}

	a {
		font-size: 0.5em;
	}
}

.transform(...) {
	-webkit-transform: @arguments;
	   -moz-transform: @arguments;
	     -o-transform: @arguments;
	    -ms-transform: @arguments;
	        transform: @arguments;
}
.transition(...) {
	-webkit-transition: @arguments;
	   -moz-transition: @arguments;
	    -ms-transition: @arguments;
	     -o-transition: @arguments;
	        transition: @arguments;
}

.eyedetect.present {
	img {
		opacity: 1;
		.transition(opacity 1s);
	}
}
.eyedetect1.past,
.eyedetect.past,
.eyedetect.future {
	img {
		opacity: 0;
		.transition(opacity 1s);
	}
}

#objectdetection {
	text-align: center;
}

.impress-enabled .step.future {
	#reason0 {
		opacity: 0;
	}
	#reason1,#reason2,#reason3 {
		opacity: 0;
		.transform(translatey(200px));
	}
}
.impress-enabled .step.active {
	#reason0 {
		opacity: 1;
		.transform(translatey(0px));
		.transition(opacity 1s);
	}
	#reason1 {
		opacity: 1;
		.transform(translatey(0px));
		.transition(opacity 1s 2.5s, 0.5s 2s;);
	}
	#reason2 {
		opacity: 1;
		.transform(translatey(0px));
		.transition(opacity 1s 3.5s, 0.5s 3s;);
	}
	
	#reason3 {
		opacity: 1;
		.transform(translatey(0px));
		.transition(opacity 1s 4.5s, 0.5s 4s;);
	}
}







